<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit Profile</title>
        <meta charset="UTF-8"> 
        <link rel="stylesheet" href="/static/css/profile.css">
        <style>
            p {
                color: red;
            }
            a {
                margin-top: 10px;
                display: block;
            }
        </style>
    </head>

    <body>

        <% function getErrorMessage(fieldName) { %>
            <% if (locals.errorMessages && errorMessages[fieldName] !== undefined) { %>
                <% return errorMessages[fieldName]; %>
            <% } %>
            <% return ""; %>
        <% } %>


        <form action="/settings" method="post" enctype="multipart/form-data">
            <div class="profile-container">

                <div class="user-container">

                    <img src="<%= currentUser.avatar ? `/static/uploads/avatar/${currentUser.avatar}` : "/static/img/Portrait_Placeholder.png" %>" class="avatar" alt="User <%= currentUser.username %>'s avatar">
                    <input type="file" name="avatar">
                    <p><%= getErrorMessage("file") %></p>


                    <div class="field">
                        <input type="text" id="username" name="username" value="<%= locals.invalidUser ? invalidUser.username : currentUser.username %>">
                        <p><%= getErrorMessage("username") %></p>
                    </div>

                </div>

                <div class="info-container">

                    <div class="bio-container">
                        <h2>Bio</h2>
                        <input type="text" id="biography" name="biography" value="<%= locals.invalidUser ? invalidUser.biography : currentUser.biography %>">
                    </div>
                    <div class="right-container">
                        <div class="follow-container">

                            <h2><a href="/settings/account">Edit Account</a></h2>
                            <h2><a href="/user/<%= currentUser.username %>">Profile</a></h2>

                        </div>

                        <div class="field">
                            <input id="submit-button" type="submit" value="Save">
                        </div>

                    </div>
                </div>
            </div>
        </form>

    </body>
</html>
