<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Your profile</title>
        <meta charset="UTF-8"> 
        <style>
            .avatar {
                width: 150px;
                height: 150px;
                object-fit: cover;
            }
            p {
                color: red;
            }
        </style>
    </head>

    <body>

        <% function getErrorMessage(fieldName) { %>
            <% if (locals.errorMessages && errorMessages[fieldName] !== undefined) { %>
                <% return errorMessages[fieldName]; %>
            <% } %>
            <% return ""; %>
        <% } %>

        <img src="<%= currentUser.avatar %>" class="avatar" alt="User <%= currentUser.username %>'s avatar">

        <form action="/settings/profile" method="post">
            <div class="field">
                <label for="username">Username: </label>
                <input type="text" id="username" name="username" value="<%= locals.invalidUser ? invalidUser.username : currentUser.username %>">
                <p><%= getErrorMessage("username") %></p>
            </div>

            <div class="field">
                <label for="biography">Biography: </label>
                <input type="text" id="biography" name="biography" value="<%= locals.invalidUser ? invalidUser.biography : currentUser.biography %>">
            </div>

            <div class="field">
                <input id="submit-button" type="submit" value="Save changes">
            </div>

            <a href="/user/<%= currentUser.username %>">Profile</a>
        </form>
    </body>
</html>
