<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= user.username %></title>
        <meta charset="UTF-8"> 
        <style>
            .avatar {
                object-fit: cover;
                width: 250px;
                height: 250px;
            }
            .thumbnail {
                object-fit: cover;
                width: 300px;
                height: 300px;
            }


            div.profile-container {
                display: flex;
            }
            div.profile-container > * {
                margin: 10px;
            }

            div.user-container {
                background-color: #79B473;
                padding: 5px;
            }
            div.user-container h1 {
                background-color: white;
                text-align: center;
            }

            div.info-container {
                display: flex;
                flex-grow: 1;
                background-color: #79B473;
            }

            div.info-container > * {
                flex-grow: 1;
                margin: 10px;
            }

            div.info-container h2, div.info-container p {
                background-color: white;
                text-align: center;
            }
            
            div.bio-container {
                display: flex;
                flex-direction: column;
            }

            div.bio-container p {
                padding: 10px;
                flex-grow: 1;
                text-align: left;
                margin-top: 0px;
            }

            div.right-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            
            div.profile-container {
                height: 350px;
            }

            div.follow-container a {
                text-decoration: none;
            }

            div.recipes-container {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                background-color: white;
                margin: 0px 100px 25px 100px;
            }

            div.showcase-container {
                background-color: #79B473;
                display: flex;
                flex-direction: column;
                margin-top: 25px;
                margin-left: 10px;
                margin-right: 10px;
            }
            div.showcase-title {
                text-align: center;
                margin: 20px;
            }
            div.showcase-title h1 {
                display: inline;
                background-color: white;
            }

            div.recipe img {
                margin-top: 20px;
            }

            div.recipe h2 {
                text-align: center;
            }
        </style>
    </head>

    <body>
    <div class="profile-container">

        <div class="user-container">

            <img src="<%= user.avatar ? `/static/uploads/avatar/${user.avatar}` : "/static/img/Portrait_Placeholder.png" %>" class="avatar" alt="User <%= user.username %>'s avatar">
            <h1><%= user.username %></h1>

        </div>

        <div class="info-container">

            <div class="bio-container">
                <h2>Bio</h2>
                <p><%= user.biography || "..." %></p>
            </div>

            <div class="right-container">
                <div class="points-container">
                    <h2>Points</h2>
                    <h2>0</h2>
                </div>

                <div class="follow-container">
                    <h2>0 Following</h2>
                    <h2>0 Followers</h2>
                    <% if (currentUser && currentUser.username === user.username) { %>
                        <h2><a href="/settings">Edit</a></h2>
                    <% } %>
                </div>
            </div>

        </div>

    </div>

    <div class="showcase-container">
        <div class="showcase-title">
            <h1>Recipe Showcase</h1>
        </div>
        <div class="recipes-container">
            <% for (recipe of userRecipes) { %>
            <div class="recipe">
                <img src="<%= `/static/uploads/multimedia/${recipe.thumbnail}` %>" class="thumbnail" alt="<%= recipe.name %> thumbnail">
                <h2><%= recipe.name %></h2>
            </div>
            <% } %>
        </div>
    </div>

    </body>
</html>
